body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* color: #993300; */
  margin: 0px;
  background-color: #ffffff;
}
#wrapper {
  /* background-image: url(images/background.jpg); */
  background-repeat: repeat-y;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

#wrapper #header {
  /* background-image: url(images/header01.jpg); */
  height: 183px;
  width: 1000px;
  background-color: #ffffff;
}

.header-content {
  float: left;
  height: 120px;
  width: 1000px;
  margin-top: 10px;

  img {
    width: 100px;
    height: 100px;
  }
}

#wrapper #leftcontent {
  background-color: #1f7d53;
  float: left;
  width: 170px;
  padding-right: 10px;
  padding-left: 5px;
  color: #ffffff;
}

#wrapper #middlecontent {
  float: left;
  width: 660px;
  padding-right: 5px;
  padding-left: 10px;
  line-height: 155%;
  text-align: justify;
}

#wrapper #rightcontent {
  float: left;
  width: 170px;
  padding-right: 5px;
  padding-left: 10px;
  background-color: #1f7d53;
  color: #ffffff;
}

ul {
  padding-left: 12px;
  margin-left: 0px;
}
#wrapper #clearer {
  clear: both;
}
#wrapper #footer {
  font-size: 10px;
  color: #ffffff;
  background-image: url(images/footer.jpg);
  text-align: center;
  height: 26px;
  width: 800px;
  line-height: 275%;
}

#wrapper #leftcontent a:link {
  color: #ff0;
  text-decoration: none;
}
#wrapper #leftcontent a:visited {
  color: #ff0;
  text-decoration: none;
}
#wrapper #leftcontent a:hover {
  color: #00f;
  text-decoration: underline;
}

#wrapper #middlecontent a:link {
  color: #00f;
  text-decoration: none;
}
#wrapper #middlecontent a:visited {
  color: #00f;
  text-decoration: none;
}
#wrapper #middlecontent a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#wrapper #rightcontent a:link {
  color: #0000ff;
  font-weight: bold;
  text-decoration: none;
}
#wrapper #rightcontent a:visited {
  color: #0000ff;
  font-weight: bold;
  text-decoration: none;
}
#wrapper #rightcontent a:hover {
  color: #ee1c24;
  font-weight: bold;
  text-decoration: underline;
}

#menuheader {
  width: 100%;
  height: 30px;
  background-color: #999;
}

#wrapper #menuutama {
  position: relative;
  top: -10px;
  left: 0px;
  margin: 0;
  padding: 0;
  background-color: #1f7d53;
  /* background: url(images/bgmenu.gif) repeat-x; */
  clear: both;
  width: 1000px;
  height: 60px;
  /* border: 1px solid #000000; */
}
#wrapper #menuutama ul {
  /* font-family: Verdana, Arial, Helvetica, sans-serif; */
  font-size: 12px;
  margin: 0;
  padding: 0;
  /* border: 0; */
  height: 28px;
  /* list-style-type: none; */
}
#wrapper #menuutama ul li a {
  position: relative;
  float: left;
  margin: 0;
  /* padding: 10px; */
  display: inline;
  /* list-style-type: none; */
}
#wrapper #menuutama ul a,
#header #menuutama ul strong,
#header #menuutama ul em {
  display: block;
  text-decoration: none;
  padding: 7px 15px 7px 15px;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
  float: left;
}
#wrapper #menuutama ul strong a span {
  color: #fff;
}
/* #wrapper #menuutama ul a:hover,
#wrapper #menuutama ul a:focus {
  background-color: #810101;
} */
#wrapper #menuutama ul a:hover,
#wrapper #menuutama ul a:focus,
#wrapper #menuutama ul a:hover span,
#wrapper #menuutama ul a:focus span {
  color: #ff0;
  border-bottom-width: 0;
}

.image {
  background-color: #fff;
  padding: 2px;
  margin: 3px 5px 3px 0;
  border: 1px solid #ddc688;
  float: left;
}
.judul {
  font-family: Georgia;
  font-size: 14px;
  line-height: 170%;
  font-weight: bold;
  color: #ee1c24;
}
.date {
  font-size: 10px;
  line-height: 135%;
  font-style: italic;
}
.posting {
  font-size: 11px;
}
.judul_head {
  font-family: Georgia;
  font-size: 12px;
}
.kategori {
  /* font-family: Georgia; */
  line-height: 175%;
  font-weight: bold;
  padding-left: 10px;
}
.komentar {
  font-weight: bold;
}

input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #993300;
}
input#shout {
  font-size: 10px;
}
.shout {
  font-size: 10px;
  line-height: 135%;
  padding-left: 3px;
}
.shoutdate {
  font-size: 10px;
  line-height: 135%;
  padding-left: 50px;
  color: #ee1c24;
}
